*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

.demo-carousel {
  width: 850px;
  margin: auto;
  margin-top: 50px;
}

.carousel-body {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  display: none;
  position: relative;
  transition: all 0.5s ease-in-out;
}


.carousel-item.active, .carousel-item.left, .carousel-item.right {
  display: block;
}

.carousel-item.left, .carousel-item.right {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-item.left {
  left: 100%;
}

.carousel-item.right {
  left: -100%;
}


.carousel-item.active.left.slide-out {
  left: -100%;
}

.carousel-item.active.right.slide-out {
  left: 100%;
}


.carousel-item.left.slide-in, .carousel-item.right.slide-in {
  left: 0;
}

.carousel-item.active {
  position: relative;
  left: 0;
}
