*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serifsans-serif;
  color: #fff;
  font-weight: 300;
}

html, body {
  background-color: #4B5558;
}

.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

.demo-carousel {
  width: 850px;
  margin: auto;
  margin-top: 50px;
}

.image-credits {
  margin-top: 10px;
  text-align: center;
}

h2 {
  font-weight: 300;
}

a {
  color: #8FBECC;
  text-decoration: none;
}

.text-center {
  text-align: center;
}


/* For Carousel Component */
.carousel-item {
  position: relative;
  transition: all 0.4s ease-in-out;
}


.carousel-item.left, .carousel-item.right {
  display: block;
}

.carousel-item.left, .carousel-item.right {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-item.left {
  left: 100%;
}

.carousel-item.right {
  left: -100%;
}


.carousel-item.active.left.slide-out {
  left: -100%;
}

.carousel-item.active.right.slide-out {
  left: 100%;
}


.carousel-item.left.slide-in, .carousel-item.right.slide-in {
  left: 0;
}

.carousel-item.active {
  position: relative;
  left: 0;
}

/* Arrows */
/* Taken from http://codepen.io/trongthanh/pen/uvzxa */
.line-arrow {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  font-size: 12px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  cursor: pointer;
}

.line-arrow.left {
  border-top: 2px solid #a9a9a9;
  border-left: 2px solid #a9a9a9;
  transform: rotate(-54deg) skew(-20deg);
  left: 20px;
}

.line-arrow.right {
	border-top: 2px solid #a9a9a9;
  border-right: 2px solid #a9a9a9;
  transform: rotate(54deg) skew(20deg);
  right: 20px;
}

.line-arrow.left:hover, .line-arrow.right:hover {
  border-color: #444;
}
