<h2 id="title">Welcome to Ember.js</h2>

  {{#carousel-container}}
    {{#carousel-body}}
      {{#carousel-item}}

      {{/carousel-item}}
      {{#carousel-item}}

      {{/carousel-item}}
      {{#carousel-item}}

      {{/carousel-item}}
    {{/carousel-body}}

    <!-- {{#carousel-indicators}}
      {{#carousel-indicator}}
      {{/carousel-indicator}}

      {{#carousel-indicator}}
      {{/carousel-indicator}}

      {{#carousel-indicator}}
      {{/carousel-indicator}}
    {{/carousel-indicators}} -->

    <!-- {{carousel-arrow direction="left"}}
    {{carousel-arrow direction="right"}} -->
  {{/carousel-container}}

{{outlet}}
