<h2 id="title">Welcome to Ember.js</h2>

  {{#carousel-container}}
    {{#carousel-body}}
      {{#carousel-item}}
        Emberjs
      {{/carousel-item}}
      {{#carousel-item}}
        Reactjs
      {{/carousel-item}}
      {{#carousel-item}}
        Angularjs
      {{/carousel-item}}
    {{/carousel-body}}

    {{#carousel-left-arrow}}
      Z
    {{/carousel-left-arrow}}
  {{/carousel-container}}

{{outlet}}
